# Data
data/
*.csv
# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.log

# Jupyter notebooks
.ipynb_checkpoints/

# Model files (external saving recommended)
models/
*.joblib
*.pkl

# Logs
logs/

# Temp/backup files
*.tmp
*.swp
*.bak
