# Data folder (large dataset files)
data/
# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.log

# Jupyter notebook checkpoints
.ipynb_checkpoints/


# Model files
models/
*.joblib
*.pkl

# Logs
logs/

# Docker files
Dockerfile
.dockerignore

# Temporary files
*.tmp
*.swp
*.bak
