# Core Python and Data Science
pandas>=1.4.0
numpy>=1.22.0
scikit-learn>=1.1.0
python-dotenv
joblib

# Gradient Boosting Libraries
xgboost>=1.6.0
lightgbm>=3.3.0
catboost>=1.0.6  # Optional

# Imbalanced Learning
imbalanced-learn>=0.9.0

# Hyperparameter Optimization
optuna>=3.0.0

# Experiment Tracking
mlflow>=2.0.0

# CLI App Framework
typer[all]>=0.7.0

# Dataset Download (Kaggle CLI)
kaggle


# Visualization (Optional, for EDA or notebooks)
matplotlib>=3.5.0
seaborn>=0.11.2
plotly>=5.6.0
